@model Model.AddFormUsersModel
@{ 
    string isDisabled = "disabled";
    if (Model.taskDTO.taskState_id == "0")
    {
        isDisabled = "";
    }
}
<h2>Dirigo a</h2>
<div class="row" style="margin-top:30px">
    <!-- search bar -->
    <div class="col-md-4">
        <span class="input-icon">
            <input type="text" class="form-control" id="glyphicon-search" placeholder="Buscar" onkeyup="filterResponsablesUsers(this)">
            <i class="glyphicon glyphicon-search blue"></i>
        </span>
    </div>
    <div class="col-xs-offset-1 col-lg-7 col-md-7">
        @using (Ajax.BeginForm("_AddFormUser", "Tasks", new AjaxOptions { HttpMethod = "POST", OnSuccess = "FormUserAddedSuccess", OnFailure = "FormUserAddedFailure" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.taskForm_id)
            <div class="col-xs-11">
                @Html.DropDownListFor(model => model.selected_userForm_id, Model._ParticipantsSelect, new { @class = "form-control select2", @style = "width:100%", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.selected_userForm_id, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-1">
                <button class="btn btn-success" style="float:right" @isDisabled><i class="fa fa-user-plus"></i></button>
            </div>
        }
    </div>
</div>
<div class="row" style="margin-top:40px;">
    <div class="col-xs-12">
        <div class="row" id="formUsersList">
            @{ Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_TaskFormUsersList.cshtml", Model);}
        </div>
    </div>
</div>