@model Model.TaskFilesModel

<div class="row" style="margin-bottom:20px;">
    <div class="col-xs-10">
        <h2>Archivos</h2>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-success" style="float:right; margin-right:5%; margin-top:15px" data-toggle="modal" data-target="#modal_addTaskFile">
            <span class="visible-xs"><i class="fa fa-plus"></i></span>
            <span class="hidden-xs">Agregar archivo</span>
        </button>
    </div>
</div>
<div class="row" style="margin-bottom:20px;">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12" style="margin-bottom:20px;">
                <!-- List of files -->
                <div class="table-scrollable">
                    <table class="table table-hover" id="table-taskFiles">
                        <!-- column titles -->
                        <thead >
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Descripción</th>
                                <th> Ver</th>
                                <th>Descargar</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Table data-->
                            @{ Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_TaskFilesList.cshtml", Model);}
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_AddTaskFile.cshtml", new Model.AddTaskFileModel(Model.taskDTO.id_task));}


