@model Model.TaskNotificationsModel
@{
    string isDisabled = "disabled";
    if (Model.taskDTO.taskState_id == "0")
    {
        isDisabled = "";
    }
}
@foreach (var notification in Model.notifications)
{
    string id_modal = "#modal_configTaskNotification" + notification.id_notification;
    <tr>
        <td style="width:50%">
            @{Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_ConfigTaskNotification.cshtml", new Model.EditTaskNoficationModel(notification, Model.taskDTO));}
            @if (notification.message.Length > 40)
            {
                @:<span>
                @Html.Raw(notification.message.Substring(0, 40) + "...")
                @:</span>
            }
            else
            {
                @:<span>
                @Html.Raw(notification.message)
                @:</span>
            }
        </td>
        <td>
        @if (notification.isTelegram == "True") {
             @:Telegram;
        }
        @if (notification.isTelegram == "True") {
            @:Interna;
        }
        @if (notification.isTelegram == "True") {
            @:Correo;
        }
        </td>
        <td><button class="btn btn-sky" style="margin-left:20%" data-toggle="modal" data-target="@id_modal" @isDisabled><i class="fa fa-cog"></i></button></td>
        <td><button class="btn btn-danger" onclick="deleteTaskNotification('@notification.id_notification',this)" @isDisabled><i class="fa fa-trash"></i></button></td>
    </tr>
}