@model Model.TaskAnswerModel
@{ 
    string id_modal = "modal_formAnswers" + Model.user_id;
}
<div class="modal fade" id="@id_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Respuesta</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            @foreach (var answer in Model.taskAnswers)
                            {
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label><strong>@answer.question</strong></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label>@answer.response</label>
                                    </div>
                                </div>
                            }   
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
        </div>
    </div>
</div>
