@model Model.TaskDetailsModel
<div class="row">
    <div class="col-xs-12">
        @{ Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_TaskFiles.cshtml", new Model.TaskFilesModel(Model.task));}
    </div>
    <hr />
    <div class="col-xs-12">
        @{ Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_TaskNotifications.cshtml", new Model.TaskNotificationsModel(Model.task));}
    </div>
</div>