@model Model.TaskNotificationsModel
<tr>
    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
    <td>Telgram; Interna; Correo</td>
    <td><button class="btn btn-sky"><i class="fa fa-cog"></i></button></td>
    <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
</tr>
<tr>
    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
    <td>John Doe; Diego Padilla</td>
    <td><button class="btn btn-sky"><i class="fa fa-cog"></i></button></td>
    <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
</tr>
<tr>
    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
    <td>John Doe; Diego Padilla</td>
    <td><button class="btn btn-sky"><i class="fa fa-cog"></i></button></td>
    <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
</tr>
<tr>
    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
    <td>John Doe; Diego Padilla</td>
    <td><button class="btn btn-sky"><i class="fa fa-cog"></i></button></td>
    <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
</tr>
<tr>
    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
    <td>John Doe; Diego Padilla</td>
    <td><button class="btn btn-sky"><i class="fa fa-cog"></i></button></td>
    <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
</tr>
