@model Model.TaskNotificationsModel
<div class="row" style="margin-bottom:20px;">
    <div class="col-xs-9">
        <h2>Notificaciones</h2>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-success pull-right" data-toggle="modal" data-target="#modal_addTaskNotification">Agregar notificación</button>
    </div>
</div>
<div class="row" style="margin-bottom:20px;">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12" style="margin-bottom:20px;">
                <div class="flip-scroll">
                    <table class="table flip-content table-hover">
                        <!-- column titles -->
                        <thead class="flip-content bordered-primary">
                            <tr>
                                <th>Mensaje</th>
                                <th>Tipos</th>
                                <th>Configuración</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Table data-->
                            @{ Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_TaskNotificationsList.cshtml", Model);}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("/Views/Tasks/_Tasks/_TaskDetails/_AddTaskNotification.cshtml", new Model.AddTaskNotificationModel(Model.taskDTO.id_task));}
