@model  Model.PasswordForgottedModel


<div class="modal fade" id="modal_passwordForgotted" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="top:15%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("_ForgotPassword", "Account", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PasswordChangedSuccess", OnFailure = "PasswordChangeFailure" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Recuperar contraseña</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Ingrese el correo asociado a la cuenta </label>
                                @Html.TextBoxFor(m => m.forgot_email, new { @class = "form-control", @placeholder = "" })
                                @Html.ValidationMessageFor(m => m.forgot_email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
