@{
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.Title = "Plantillas";
    ViewBag.Description = "Plantillas";
}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header">
                <span class="widget-caption">Lista de plantillas disponibles</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_addTemplate">Nueva plantilla</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <!-- Filter area -->
                        <div class="row" style="margin-bottom:40px">
                            <div class="col-md-6">
                                <!-- search bar -->
                                <span class="input-icon">
                                    <input type="text" class="form-control" id="glyphicon-search" placeholder="Buscar" onkeyup="filterTemplates(this.value)">
                                    <i class="glyphicon glyphicon-search blue"></i>
                                </span>
                            </div>
                        </div>
                        <!-- Table -->
                        <div class="flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content table-hover">
                                <!-- column titles -->
                                <thead class="flip-content bordered-palegreen">
                                    <tr>
                                        <th>Plantilla</th>
                                        <th>Categoria</th>
                                        <th>Participantes</th>
                                    </tr>
                                </thead>
                                <tbody id="table-templates">
                                    <!-- Table data-->
                                    @{ Html.RenderPartial("/Views/Templates/_Index/_TemplatesList.cshtml", new Model.TemplatesListModel());}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal to add template -->
@{ Html.RenderPartial("/Views/Templates/_Index/_AddTemplate.cshtml", new Model.AddTemplateModel());}

@section PageScripts{
<script>
    function TemplateAddedSuccess(content) {
        Notify('La plantilla se ha creado con éxito', 'bottom-right', '5000', 'success', 'fa-edit', true);
        $('#table-templates').html(content);
        $("[data-toggle='tooltip']").tooltip();
    }
    function TemplateAddedFailure(content) {
        Notify('Error, no se puede crear la plantilla', 'bottom-right', '5000', 'danger', 'fa-edit', true);
    }

    var templatesRows;
    $(document).ready(function () {
        templatesRows = $('#table-templates').children();
        $("[data-toggle='tooltip']").tooltip();
    });
    function filterTemplates(pValue) {
        templatesRows.find('td:first-child').each(function () {
            var row = $(this).closest("tr")
            if ($(this).text().toLowerCase().includes(pValue)) {
                row.addClass('visible')
                row.show(300);
            }
            else {
                row.removeClass('visible')
                row.hide(300)
            }
        });
        //pager.paragraphs = $('.visible', groupContainers).parent() // set of required containers
        //pager.showPage(1)
        $("[data-toggle='tooltip']").tooltip();
    }
</script>
}
