@model Model.TasksModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="widget radius-bordered ">
            <div class="widget-header bordered-bottom bordered-sky">
                <span class="widget-caption">Tareas</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    @{ Html.RenderPartial("/Views/Templates/_Tasks/_TasksList.cshtml");}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="col-xs-12">
            @{ Html.RenderPartial("/Views/Templates/_Tasks/_TaskInfo.cshtml");}
        </div>
        <div class="col-xs-12">
            @{ Html.RenderPartial("/Views/Templates/_Tasks/_TaskForm.cshtml");}
        </div>
        <div class="col-xs-12">
            @{ Html.RenderPartial("/Views/Templates/_Tasks/_TaskAdditionals.cshtml");}
        </div>
    </div>
</div>

<!-- Modal to add task-->
@{ Html.RenderPartial("/Views/Templates/_Tasks/_AddTask.cshtml");}

@section PageScripts{
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script>
        //-- task added
        function TaskAddedSuccess(content) {
            Notify("La tarea ha sido agregada con éxito", 'bottom-right', '5000', 'success', 'fa-edit', true);
            $('#TaskListDiv').html(content)
            $(".todo-list").sortable({
                placeholder: "sort-highlight",
                handle: ".handle",
                forcePlaceholderSize: true,
                zIndex: 999999
            });
        }
        function TaskAddedFailure(content) {
            Notify("Error, no se puede agregar la tarea", 'bottom-right', '5000', 'danger', 'fa-edit', true);
        }
        //-- stage name udated
        function TaskUpdatedSuccess(content) {
            Notify("La tarea ha sido editad con éxito", 'bottom-right', '5000', 'success', 'fa-edit', true);
            //$('#stageName' + content.id_stage).text(content.name);
        }
        function TaskUpdatedFailure(content) {
            Notify("Error, no se puede editar la tarea", 'bottom-right', '5000', 'danger', 'fa-edit', true);
        }

        function deleteTask(id_task, name, element) {
            $.ajax({
                url: "/Tasks/_DeleteTask/?id_task=" + id_task,
                type: "DELETE",
                dataType: "html",
                traditional: true,
                contentType: false,
                success: function (data) {
                    Notify("La etapa '" + name + "' ha sido removida", 'bottom-right', '5000', 'success', 'fa-edit', true);
                    $(element).closest("li").hide(300, function () {

                    });
                },
                error: function () {
                    Notify("Error, no se puede remover la etapa '" + name + "'", 'bottom-right', '5000', 'danger', 'fa-edit', true);
                }
            });
        }
    (function ($) {

        'use strict';

        $.fn.todolist = function (options) {
            // Render options
            var settings = $.extend({
                //When the user checks the input
                onCheck: function (ele) {
                    return ele;
                },
                //When the user unchecks the input
                onUncheck: function (ele) {
                    return ele;
                }
            }, options);

            return this.each(function () {

                if (typeof $.fn.iCheck != 'undefined') {
                    $('input', this).on('ifChecked', function () {
                        var ele = $(this).parents("li").first();
                        ele.toggleClass("done");
                        settings.onCheck.call(ele);
                    });

                    $('input', this).on('ifUnchecked', function () {
                        var ele = $(this).parents("li").first();
                        ele.toggleClass("done");
                        settings.onUncheck.call(ele);
                    });
                } else {
                    $('input', this).on('change', function () {
                        var ele = $(this).parents("li").first();
                        ele.toggleClass("done");
                        if ($('input', ele).is(":checked")) {
                            settings.onCheck.call(ele);
                        } else {
                            settings.onUncheck.call(ele);
                        }
                    });
                }
            });
        };
    }(jQuery));
        /* The todo list plugin */
        $(".todo-list").todolist({
            onCheck: function (ele) {
                window.console.log("The element has been checked");
                return ele;
            },
            onUncheck: function (ele) {
                window.console.log("The element has been unchecked");
                return ele;
            }
        });


        //jQuery UI sortable for the todo list
        $(".todo-list").sortable({
            placeholder: "sort-highlight",
            handle: ".handle",
            forcePlaceholderSize: true,
            zIndex: 999999
        });
    </script>
    <script>
    $(function () {
        $(document).on('click', '.btn-add', function (e) {
            e.preventDefault();
            var controlForm = $(this).parents('.table:first'),
                currentEntry = $(this).parents('tr:first'),
                newEntry = $(currentEntry.clone()).appendTo(controlForm);
            controlForm.find('tr:not(:last) .btn-add')
                .removeClass('btn-add').addClass('btn-remove')
                .removeClass('btn-success').addClass('btn-danger')
                .html('<span class="glyphicon glyphicon-minus"></span>');
        }).on('click', '.btn-remove', function (e) {
            $(this).parents('tr:first').remove();

            e.preventDefault();
            return false;
        });
    });
    </script>

    <script src="~/assets/js/fuelux/wizard/wizard-custom.js"></script>
    <script src="~/assets/js/toastr/toastr.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            $('#simplewizardinwidget').wizard();
            $('#simplewizard').wizard();
            $('#tabbedwizard').wizard().on('finished', function (e) {
                Notify('Thank You! All of your information saved successfully.', 'bottom-right', '5000', 'blue', 'fa-check', true);
            });
            $('#WiredWizard').wizard();
        });
    </script>
}


