@model Model.ScriptsModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.Title = "Consultas";
    ViewBag.Description = "Lista de consultas";
}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered" id="widget-scripts">
            <!-- Header -->
            <div class="widget-header">
                <span class="widget-caption">Lista de consultas</span>
                <div class="widget-buttons" style="margin-right:20px">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_addScript">Nueva consulta</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <!-- Table -->
                        <div class="flip-scroll">
                            <table class="table flip-content table-hover">
                                <!-- column titles -->
                                <thead class="flip-content bordered-primary">
                                    <tr>
                                        <th>Realizado por</th>
                                        <th>Fecha</th>
                                        <th>Consulta</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Table data-->
                                    @{ Html.RenderPartial("/Views/Scripts/_ScriptsLogList.cshtml", Model);}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div-modalResult">
</div>
@{ Html.RenderPartial("/Views/Scripts/_AddScript.cshtml", new  Model.AddScriptModel());}

@section PageScripts{
    <script src="~/assets/js/file_input/bootstrap-filestyle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input:radio[name=scriptType]').change(function () {
                if (this.value == 'file') {
                    $('#formGroup-scriptFile').show()
                    $('#formGroup-scriptText').hide()
                }
                else if (this.value == 'text') {
                    $('#formGroup-scriptFile').hide()
                    $('#formGroup-scriptText').show()
                }
            });
        });
        function ScriptAddedSuccess(content) {
            if (content.type == "table") {
                $('#modal_addScript').modal('hide');
                $('#div-modalResult').html(content.result)
                $('#modal_scriptResult').modal('show');
            } else {
                if (content.result == "0") {
                    Notify("El script se ha ejecutado correctamente, " + content.result + " fila ha sido afectada", 'bottom-right', '5000', 'success', 'fa-edit', true);
                } else {
                    Notify("El script se ha ejecutado correctamente, " + content.result + " filas han sido afectadas", 'bottom-right', '5000', 'success', 'fa-edit', true);
                }
            }
        }
        function ScriptAddedFailure(content) {
            Notify("Error, no se puede ejecutar el script", 'bottom-right', '5000', 'danger', 'fa-edit', true);
        }
        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};
            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });
            return indexed_array;
        }
        function postScriptAdded(event, self) {
            var form = $(self).closest("form")
            var formData = getFormData(form);
            if (window.FormData !== undefined) {
                var fileUpload = $("#scriptFileUpload").get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }
                if (files.length > 0) {
                    event.preventDefault()
                    $.ajax({
                        url: '/Scripts/_AddScript/?scriptType=' + formData.scriptType,
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: fileData,
                        success: function (result) {
                            ScriptAddedSuccess(result)
                        },
                        error: function (result) {
                            ScriptAddedFailure(result)
                        }
                    });
                }
            } else {
                Notify("Error, explorador no soportado", 'bottom-right', '5000', 'danger', 'fa-edit', true);
            }
        }
        function reexecuteScript(scriptText, self) {
            $.ajax({
                url: '/Scripts/_AddScript/?scriptType=text' + "&scriptText=" + scriptText,
                type: "POST",
                success: function (result) {
                    ScriptAddedSuccess(result)
                },
                error: function (result) {
                    ScriptAddedFailure(result)
                }
            });
        }
    </script>
}

