<div class="widget radius-bordered">
    <div class="widget-header  bordered-bottom bordered-sky">
        <span class="widget-caption">Información General</span>
        <div class="widget-buttons">
            <a href="#" data-toggle="collapse">
                <i class="fa fa-minus danger"></i>
            </a>
        </div>
    </div>
    <div class="widget-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="row" style="font-size:14px; margin-top:25px; margin-bottom:10px">
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Nombre</dt>
                            <dd> Tarea 1</dd>
                            <dt>Agregado por </dt>
                            <dd>Jocsan Padilla</dd>
                            <dt>Estado</dt>
                            <dd><span class="label label-success">Completado</span></dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Tipo</dt>
                            <dd>Formulario</dd>
                            <dt>Destinado a</dt>
                            <dd>Anthony </dd>
                            <dt>Creado</dt>
                            <dd>16.08.2014 12:15:57</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
