<h2>Formulario</h2>
<div class="row" style="margin-top:10px;margin-bottom:10px">
    <div class="col-xs-12">
        <p>
            Descripción:
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="flip-scroll">
            <table class="table flip-content table-hover" >
                <!-- column titles -->
                <thead class="flip-content ">
                    <tr>
                        <th></th>
                        <th>Pregunta</th>
                        <th>Tipo</th>
                        <th>Datos</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="taskForm">
                    <!-- Table data-->
                    <tr>
                        <td style="font-size:16px; width:3%">
                            <span class="handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                        </td>
                        <td>
                            <input class="form-control" type="text" />
                        </td>
                        <td>
                            <select>
                                <option>Texto</option>
                                <option>Numero entero</option>
                                <option>Numero décimal</option>
                                <option>Fecha</option>
                                <option>Condición</option>
                                <option>Lista</option>
                            </select>
                            <!--
                            <select id="e1">
                                <option selected="selected">Solicitud</option>
                                <option>Visto Bueno</option>
                                <option>Tareas</option>
                                <option>Recordatorio</option>
                            </select>
                                -->
                        </td>
                        <td>
                            <button class="btn btn-sky btn-sm btn-add" type="button">
                                <span class="fa fa-cog"></span>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:16px; width:3%">
                            <span class="handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                        </td>
                        <td>
                            <input class="form-control" type="text" />
                        </td>
                        <td>
                            <select>
                                <option>Texto</option>
                                <option>Numero entero</option>
                                <option>Numero décimal</option>
                                <option>Fecha</option>
                                <option>Condición</option>
                                <option>Lista</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-sky btn-sm btn-add" type="button">
                                <span class="fa fa-cog"></span>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
