<h2>Cambios a realizar</h2>
<div class="row">
    <div class="col-xs-12">
        <div class="flip-scroll">
            <table class="table flip-content table-hover">
                <!-- column titles -->
                <thead class="flip-content ">
                    <tr>
                        <th>Atributo</th>
                        <th>Operación</th>
                        <th>Valor</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody id="taskForm">
                    <!-- Table data-->
                    <tr>
                        <td>
                            <select class="form-control">
                                <option>Texto</option>
                                <option>Numero entero</option>
                                <option>Numero décimal</option>
                                <option>Fecha</option>
                                <option>Condición</option>
                                <option>Lista</option>
                            </select>
                        </td>
                        <td>
                            <select>
                                <option>Texto</option>
                                <option>Numero entero</option>
                                <option>Numero décimal</option>
                                <option>Fecha</option>
                                <option>Condición</option>
                                <option>Lista</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="number" />
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control">
                                <option>Texto</option>
                                <option>Numero entero</option>
                                <option>Numero décimal</option>
                                <option>Fecha</option>
                                <option>Condición</option>
                                <option>Lista</option>
                            </select>
                        </td>
                        <td>
                            <select>
                                <option>Texto</option>
                                <option>Numero entero</option>
                                <option>Numero décimal</option>
                                <option>Fecha</option>
                                <option>Condición</option>
                                <option>Lista</option>
                            </select>
                        </td>
                        <td>
                            <input class="form-control" type="number" />
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
