@model Model.UserActivityModel
<div class="row">
    <div class="col-xs-12">
        <!-- List of activity -->
        <div class="flip-scroll">
            <table class="table flip-content table-hover">
                <!-- column titles -->
                <thead class="flip-content bordered-primary">
                    <tr>
                        <th># Gestión</th>
                        <th>Nombre Gestion</th>
                        <th>Evento</th>
                        <th>Tarea</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table data-->
                    @foreach( var activity in Model.userActivity)
                    {
                        <tr>
                            <td><a href="/Processes/Process/@Html.Raw(activity.process_id)">#@Html.Raw(activity.process_id)</a></td>
                            <td>@Html.Raw(activity.process_name)</td>
                            @if (activity.isConfirmation == "1")
                            {
                                <td>Se ha confirmado la tarea</td>
                            }
                            else
                            {
                                <td>Se ha respondido el formulario</td>
                            }
                            <td><a href="/Tasks/Index/@Html.Raw(activity.stage_id)">@Html.Raw(activity.task_name)</a></td>
                            <td>@Html.Raw(activity.confirm_date)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>