@model Model.ProcessModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.Title = "Gestion #12351512";
    ViewBag.Description = "Nombre de la gestion";
}

<div class="row">
    <div class="col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header">
                <span class="widget-caption">Gestión #@Html.Raw(Model.processDTO.id_processManagment)</span>
            </div>
            <div class="widget-body">
                <div class="row" style="font-size:14px; margin-top:25px; margin-bottom:10px">
                    <div class="col-xs-12">
                        <div class="col-md-4">
                            <dl class="dl-horizontal">
                                <dt>Estado</dt><dd><span class="label" style="background-color:@Model.processDTO.state_color">@Html.Raw(Model.processDTO.state_name)</span></dd>
                                <dt>Creado por</dt><dd>Jocsan Padilla</dd>
                                <dt># Gestión</dt><dd>#@Html.Raw(Model.processDTO.id_processManagment)</dd>
                            </dl>
                        </div>
                        <div class="col-md-4">
                            <dl class="dl-horizontal">
                                <dt>Creado</dt><dd>16.08.2014 12:15:57</dd>
                                <dt>Gestión anterior</dt><dd><a>#123144512</a></dd>
                                <dt>Siguiente gestión</dt><dd><a>#123144512</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <!-- Project progress -->
                <div class="row" style="font-size:14px;">
                    <div class="col-md-8">
                        <dl class="dl-horizontal">
                            <dt>Completado</dt>
                            <dd style="width:70%">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-main ">
                            @using (var tabs = Html.Bootstrap().Begin(new Tabs("FlatTab").Flat()))
                            {
                                tabs.Tab("Etapas");
                                tabs.Tab("Participantes");
                                tabs.Tab("Actividad");
                                <!-- Etapas -->
                                using (tabs.BeginPanel())
                                {
                                    <div class="row">
                                        <div class="col-xs-12" style="margin-bottom:10px">
                                            <h3>Etapas</h3>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-xs-12" id="StagesListDiv">
                                            @{ Html.RenderPartial("/Views/Templates/_Template/_Stages/_StagesList.cshtml", new Model.StagesListModel(Model.processDTO.id_processManagment));}
                                        </div>
                                    </div>                                }
                                <!-- Participantes -->
                                using (tabs.BeginPanel())
                                {
                                    <div class="row" style="margin-bottom:30px">
                                        <!-- search bar -->
                                        <div class="col-md-6 col-xs-8">
                                            <span class="input-icon">
                                                <input type="text" class="form-control" id="glyphicon-search" placeholder="Buscar" onkeyup="filterParticipantsUsers(this)">
                                                <i class="glyphicon glyphicon-search blue"></i>
                                            </span>
                                        </div>
                                        <div class="col-lg-offset-3 col-lg-3 col-md-offset-2 col-md-4 col-xs-4">
                                            <div class="col-xs-6">
                                                <button class="btn btn-success" style="float:right" data-toggle="modal" data-target="#modal_addGroupParticipants">
                                                    <span class="visible-xs"><i class="fa fa-users"></i></span>
                                                    <span class="hidden-xs">Agregar grupo</span>
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button class="btn btn-success" style="float:right" data-toggle="modal" data-target="#modal_addParticipantUser">
                                                    <span class="visible-xs"><i class="fa fa-user"></i></span>
                                                    <span class="hidden-xs">Agregar integrante</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12" id="participantsListDiv">
                                            @{ Html.RenderPartial("/Views/Templates/_Template/_Participants/_TemplateParticipantsList.cshtml", new Model.ParticipantsModel(Model.processDTO.id_processManagment));}
                                        </div>
                                    </div>
                                }
                                <!-- Actividad -->
                                using (tabs.BeginPanel())
                                {
                                    Html.RenderPartial("/Views/Processes/_Process/_ProcessActivity.cshtml", Model);
                                }
                            }
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>
<!-- Modal to add a user -->
@{ Html.RenderPartial("/Views/Templates/_Template/_Participants/_AddParticipantUser.cshtml", new Model.AddParticipantUserModel(Model.processDTO.id_processManagment));}
<!-- Modal to add a group -->
@{ Html.RenderPartial("/Views/Templates/_Template/_Participants/_AddGroup.cshtml", new Model.AddGroupModel(Model.processDTO.id_processManagment));}

@section PageScripts{
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="~/Scripts/Templates/Template/Participants.js"></script>
<script src="~/Scripts/Templates/Template/Stages.js"></script>
@*<script>
    (function ($) {

        'use strict';

        $.fn.todolist = function (options) {
            // Render options
            var settings = $.extend({
                //When the user checks the input
                onCheck: function (ele) {
                    return ele;
                },
                //When the user unchecks the input
                onUncheck: function (ele) {
                    return ele;
                }
            }, options);

            return this.each(function () {

                if (typeof $.fn.iCheck != 'undefined') {
                    $('input', this).on('ifChecked', function () {
                        var ele = $(this).parents("li").first();
                        ele.toggleClass("done");
                        settings.onCheck.call(ele);
                    });

                    $('input', this).on('ifUnchecked', function () {
                        var ele = $(this).parents("li").first();
                        ele.toggleClass("done");
                        settings.onUncheck.call(ele);
                    });
                } else {
                    $('input', this).on('change', function () {
                        var ele = $(this).parents("li").first();
                        ele.toggleClass("done");
                        if ($('input', ele).is(":checked")) {
                            settings.onCheck.call(ele);
                        } else {
                            settings.onUncheck.call(ele);
                        }
                    });
                }
            });
        };
    }(jQuery));
        /* The todo list plugin */
        $(".todo-list").todolist({
            onCheck: function (ele) {
                window.console.log("The element has been checked");
                return ele;
            },
            onUncheck: function (ele) {
                window.console.log("The element has been unchecked");
                return ele;
            }
        });


        //jQuery UI sortable for the todo list
        $(".todo-list").sortable({
            placeholder: "sort-highlight",
            handle: ".handle",
            forcePlaceholderSize: true,
            zIndex: 999999
        });
</script>*@
}