@{
    Layout = "~/Views/Shared/_Default.cshtml";
}


<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        @using (WidgetBuilder<dynamic> widget = Html.Bootstrap().Begin(new Widget().RadiusBordered().Caption("Tareas").HeaderBorder(BootstrapColors.Sky, Direction.Bottom)))
        {
            using (WidgetSectionPanel header = widget.BeginHeader())
            {

            }
            using (widget.BeginBody())
            {
                <div class="row">
                    <div class="col-xs-12" style="margin-top:20px; margin-bottom:20px" >
                        <ul class="todo-list">
                            <li>
                                <!-- drag handle -->
                                <span class="handle">
                                    <i class="fa fa-ellipsis-v"></i>
                                    <i class="fa fa-ellipsis-v"></i>
                                </span>
                                <!-- checkbox -->
                                <input type="checkbox" value="">
                                <!-- todo text -->
                                <span class="text">Design a nice theme</span>
                                <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 día</small>
                                <!-- Emphasis label -->
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                    <a href="/Home/Tasks">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class="handle">
                                    <i class="fa fa-ellipsis-v"></i>
                                    <i class="fa fa-ellipsis-v"></i>
                                </span>
                                <input type="checkbox" value="">
                                <span class="text">Make the theme responsive</span>
                                <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 día</small>
                                <div class="tools">
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class="handle">
                                    <i class="fa fa-ellipsis-v"></i>
                                    <i class="fa fa-ellipsis-v"></i>
                                </span>
                                <input type="checkbox" value="">
                                <span class="text">Let theme shine like a star</span>
                                <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 día</small>
                                <div class="tools">
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                            <li>
                                <span class="handle">
                                    <i class="fa fa-ellipsis-v"></i>
                                    <i class="fa fa-ellipsis-v"></i>
                                </span>
                                <input type="checkbox" value="">
                                <span class="text">Let theme shine like a star</span>
                                <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 día</small>
                                <div class="tools">
                                    <i class="fa fa-eye"></i>
                                    <i class="fa fa-edit"></i>
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-offset-9">
                            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#modal_addTask">Agregar tarea</button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="col-xs-12">
            @using (WidgetBuilder<dynamic> widget = Html.Bootstrap().Begin(new Widget().RadiusBordered().Caption("Informacion de tarea 1").HeaderBorder(BootstrapColors.Sky, Direction.Bottom)))
            {
                using (WidgetSectionPanel header = widget.BeginHeader())
                {
                }
                using (widget.BeginBody())
                {
                    <div class="row">
                        <div class="col-md-offset-10 col-md-2">
                            <a class="btn btn-warning btn-block" data-toggle="modal" data-target="#modal_newProccess">Nueva gestión</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row" style="font-size:14px; margin-top:25px; margin-bottom:10px">
                                <div class="col-md-6">
                                    <dl class="dl-horizontal">
                                        <dt>Nombre</dt>
                                        <dd> Tarea 1</dd>
                                        <dt>Agregado por </dt>
                                        <dd>Jocsan Padilla</dd>
                                        <dt>Estado</dt>
                                        <dd><span class="label label-success">Completado</span></dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <dl class="dl-horizontal">
                                        <dt>Tipo</dt>
                                        <dd>Formulario</dd>
                                        <dt>Destinado a</dt>
                                        <dd>Anthony </dd>
                                        <dt>Creado</dt>
                                        <dd>16.08.2014 12:15:57</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-xs-12">
            @using (WidgetBuilder<dynamic> widget = Html.Bootstrap().Begin(new Widget().RadiusBordered().Caption("Formulario").HeaderBorder(BootstrapColors.Sky, Direction.Bottom)))
            {
                using (WidgetSectionPanel header = widget.BeginHeader())
                {
                }
                using (widget.BeginBody())
                {
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="flip-scroll">
                                        <table class="table flip-content table-hover">
                                            <!-- column titles -->
                                            <thead class="flip-content ">
                                                <tr>
                                                    <th>Atributo</th>
                                                    <th>Tipo</th>
                                                    <th>Valor</th>
                                                    <th>Lista</th>
                                                    <th>Habilitado</th>
                                                    <th>Accion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Table data-->
                                                <tr>
                                                    <td>
                                                        <div class="entry input-group">
                                                            <input class="form-control" name="fields[]" type="text" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <select class="form-control">
                                                            <option>Texto</option>
                                                            <option>Numero entero</option>
                                                            <option>Numero décimal</option>
                                                            <option>Fecha</option>
                                                            <option>Condición</option>
                                                            <option>Lista</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div class="entry input-group">
                                                            <input class="form-control" name="fields[]" type="text" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <select id="e1" style="width:100%;">
                                                            <option selected="selected">Solicitud</option>
                                                            <option>Visto Bueno</option>
                                                            <option>Tareas</option>
                                                            <option>Recordatorio</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        @Html.Bootstrap().CheckBox("form-field-checkbox").IsChecked(true).HtmlAttributes(new { @class = "colored-success" })
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-success btn-sm btn-add" type="button">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                }
            }
        </div>
        <div class="col-xs-12">
            @using (WidgetBuilder<dynamic> widget = Html.Bootstrap().Begin(new Widget().RadiusBordered().Caption("Adicionales").HeaderBorder(BootstrapColors.Sky, Direction.Bottom)))
            {
                using (WidgetSectionPanel header = widget.BeginHeader())
                {
                }
                using (widget.BeginBody())
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row" style="margin-bottom:20px;">
                                <div class="col-xs-10">
                                    <h2>Archivos</h2>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-sky btn-block">Agregar archivo</button>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:20px;">
                                <div class="col-xs-12" >
                                    <div class="row">
                                        <div class="col-xs-12" style="margin-bottom:20px;">
                                            <div class="flip-scroll">
                                                <table class="table flip-content table-hover">
                                                    <!-- column titles -->
                                                    <thead class="flip-content bordered-primary">
                                                        <tr>
                                                            <th>Nombre</th>
                                                            <th>Fecha</th>
                                                            <th>Descripcion</th>
                                                            <th>Descargar</th>
                                                            <th>Borrar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Table data-->
                                                        <tr>
                                                            <td>John Doe</td>
                                                            <td>11-7-2014</td>
                                                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                            <td><button class="btn btn-sky"><i class="fa fa-download"></i></button></td>
                                                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Alexander Pierce</td>
                                                            <td>11-7-2014</td>
                                                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                            <td><button class="btn btn-sky"><i class="fa fa-download"></i></button></td>
                                                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bob Doe</td>
                                                            <td>11-7-2014</td>
                                                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                            <td><button class="btn btn-sky"><i class="fa fa-download"></i></button></td>
                                                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mike Doe</td>
                                                            <td>11-7-2014</td>
                                                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                            <td><button class="btn btn-sky"><i class="fa fa-download"></i></button></td>
                                                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="col-xs-12">
                            <div class="row" style="margin-bottom:20px;">
                                <div class="col-xs-9">
                                    <h2>Notificaciones</h2>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-sky btn-block">Agregar notificacion</button>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:20px;">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12" style="margin-bottom:20px;">
                                            <div class="flip-scroll">
                                                <table class="table flip-content table-hover">
                                                    <!-- column titles -->
                                                    <thead class="flip-content bordered-primary">
                                                        <tr>
                                                            <th>Mensaje</th>
                                                            <th>Destinos</th>
                                                            <th>Eliminar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Table data-->
                                                        <tr>
                                                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                            <td>John Doe; Diego Padilla</td>
                                                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                            <td>John Doe</td>
                                                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                            <td>John Doe</td>
                                                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                            <td>John Doe</td>
                                                            <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


<!-- Modal to add task-->
<div class="modal fade" id="modal_addTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Agregar tarea</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="WiredWizard" class="wizard" data-target="#WiredWizardsteps">
                            <ul class="steps">
                                <li data-target="#wiredstep1" class="active"><span class="step">1</span><span class="title">Creacion</span><span class="chevron"></span></li>
                                <li data-target="#wiredstep2"><span class="step">2</span><span class="title">Formulario</span> <span class="chevron"></span></li>
                                <li data-target="#wiredstep3"><span class="step">3</span><span class="title">Adicionales</span> <span class="chevron"></span></li>
                            </ul>
                        </div>
                        <div class="step-content" id="WiredWizardsteps">
                            <div class="step-pane active" id="wiredstep1">
                                <h2>Información General</h2>
                                <div class="row" style="margin-top:40px;">
                                    <div class="col-xs-12">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Nombre de la tarea">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">Tipo</label>
                                                <div class="col-sm-10">
                                                    <select id="e1" style="width:100%;">
                                                        <option selected="selected">Solicitud</option>
                                                        <option>Visto Bueno</option>
                                                        <option>Tareas</option>
                                                        <option>Recordatorio</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">Tipo</label>
                                                <div class="col-sm-10">
                                                    <select id="e1" style="width:100%;">
                                                        <option selected="selected">Jose</option>
                                                        <option>Daniel</option>
                                                        <option>Andres</option>
                                                        <option>Anthony</option>
                                                        <option>Jonathan</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">Tiempo</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputEmail3">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="step-pane" id="wiredstep2">
                                <h2>Formulario</h2>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="flip-scroll">
                                            <table class="table flip-content table-hover">
                                                <!-- column titles -->
                                                <thead class="flip-content ">
                                                    <tr>
                                                        <th>Atributo</th>
                                                        <th>Tipo</th>
                                                        <th>Valor</th>
                                                        <th>Lista</th>
                                                        <th>Habilitado</th>
                                                        <th>Accion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Table data-->
                                                    <tr>
                                                        <td>
                                                            <div class="entry input-group">
                                                                <input class="form-control" name="fields[]" type="text" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <select class="form-control">
                                                                <option>Texto</option>
                                                                <option>Numero entero</option>
                                                                <option>Numero décimal</option>
                                                                <option>Fecha</option>
                                                                <option>Condición</option>
                                                                <option>Lista</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div class="entry input-group">
                                                                <input class="form-control" name="fields[]" type="text" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <select id="e1" style="width:100%;">
                                                                <option selected="selected">Solicitud</option>
                                                                <option>Visto Bueno</option>
                                                                <option>Tareas</option>
                                                                <option>Recordatorio</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            @Html.Bootstrap().CheckBox("form-field-checkbox").IsChecked(true).HtmlAttributes(new { @class = "colored-success" })
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-success btn-sm btn-add" type="button">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-pane" id="wiredstep3">
                                <h2>Adicionales</h2>
                            </div>
                        </div>
                        <div class="actions actions-footer" id="WiredWizard-actions">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa fa-angle-left"></i>Anterior</button>
                                <button type="button" class="btn btn-default btn-sm btn-next" data-last="Finish">Siguiente<i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>-->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal to add process-->
<div class="modal fade" id="modal_newProccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Nueva Gestión</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Nombre de la gestión</label>
                                        <input class="form-control" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-1">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select id="e1" style="width:100%;">
                                            <option selected="selected">Vacaciones</option>
                                            <option>Activos</option>
                                            <option>Constancias</option>
                                            <option>Control de salas</option>
                                            <option>Incidencias</option>
                                            <option>Apercibimiento</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-1">
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        <select id="e1" style="width:100%;">
                                            <option selected="selected">Solicitud de vacaciones</option>
                                            <option>Despido</option>
                                            <option>Nuevo cliente</option>
                                            <option>Devolucion de activo</option>
                                            <option>Boleta de inscripcion</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Crear</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section PageScripts{
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script>
    (function ($) {

        'use strict';

        $.fn.todolist = function (options) {
            // Render options
            var settings = $.extend({
                //When the user checks the input
                onCheck: function (ele) {
                    return ele;
                },
                //When the user unchecks the input
                onUncheck: function (ele) {
                    return ele;
                }
            }, options);

            return this.each(function () {

                if (typeof $.fn.iCheck != 'undefined') {
                    $('input', this).on('ifChecked', function () {
                        var ele = $(this).parents("li").first();
                        ele.toggleClass("done");
                        settings.onCheck.call(ele);
                    });

                    $('input', this).on('ifUnchecked', function () {
                        var ele = $(this).parents("li").first();
                        ele.toggleClass("done");
                        settings.onUncheck.call(ele);
                    });
                } else {
                    $('input', this).on('change', function () {
                        var ele = $(this).parents("li").first();
                        ele.toggleClass("done");
                        if ($('input', ele).is(":checked")) {
                            settings.onCheck.call(ele);
                        } else {
                            settings.onUncheck.call(ele);
                        }
                    });
                }
            });
        };
    }(jQuery));
        /* The todo list plugin */
        $(".todo-list").todolist({
            onCheck: function (ele) {
                window.console.log("The element has been checked");
                return ele;
            },
            onUncheck: function (ele) {
                window.console.log("The element has been unchecked");
                return ele;
            }
        });


        //jQuery UI sortable for the todo list
        $(".todo-list").sortable({
            placeholder: "sort-highlight",
            handle: ".handle",
            forcePlaceholderSize: true,
            zIndex: 999999
        });
    </script>
<script>
    $(function () {
        $(document).on('click', '.btn-add', function (e) {
            e.preventDefault();

            var controlForm = $(this).parents('.table:first'),
                currentEntry = $(this).parents('tr:first'),
                newEntry = $(currentEntry.clone()).appendTo(controlForm);

            controlForm.find('tr:not(:last) .btn-add')
                .removeClass('btn-add').addClass('btn-remove')
                .removeClass('btn-success').addClass('btn-danger')
                .html('<span class="glyphicon glyphicon-minus"></span>');
        }).on('click', '.btn-remove', function (e) {
            $(this).parents('tr:first').remove();

            e.preventDefault();
            return false;
        });
    });
</script>

<script src="~/assets/js/fuelux/wizard/wizard-custom.js"></script>
<script src="~/assets/js/toastr/toastr.js"></script>

<script type="text/javascript">
        jQuery(function ($) {
            $('#simplewizardinwidget').wizard();
            $('#simplewizard').wizard();
            $('#tabbedwizard').wizard().on('finished', function (e) {
                Notify('Thank You! All of your information saved successfully.', 'bottom-right', '5000', 'blue', 'fa-check', true);
            });
            $('#WiredWizard').wizard();
        });
</script>
}


