
<!-- Modal to add new group-->
<div class="modal fade" id="modal_addGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nueva Grupo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre del grupo</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <label>Seleccione los miembros</label>
                                <select id="e2" multiple="multiple" style="width: 100%;;">
                                    <option value="AL" />Alabama
                                    <option value="AK" />Alaska
                                    <option value="AZ" />Arizona
                                    <option value="AR" />Arkansas
                                    <option value="CA" />California
                                    <option value="CO" />Colorado
                                    <option value="CT" />Connecticut
                                    <option value="DE" />Delaware
                                    <option value="FL" />Florida
                                    <option value="GA" />Georgia
                                    <option value="HI" />Hawaii
                                    <option value="ID" />Idaho
                                    <option value="IL" />Illinois
                                    <option value="IN" />Indiana
                                    <option value="IA" />Iowa
                                </select>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>