@model Model.GroupModel
<div class="widget-body bordered-left bordered-blueberry">
    <p style="text-align:left"><strong>@Model.groupUsers.Count miembros...</strong></p>
    <div class="row" style="margin-top:15px">
        @foreach (var user in Model.groupUsers)
        {
            var name = user.name + " " + user.fLastName + " " + user.sLastName;
            <div class="col-xs-2" data-toggle="tooltip" data-placement="top" title="@name" >
                <img alt="image"  class="img-circle img-responsive" src="data:Image/png;base64,@user.photoBase64">
            </div>
        }
        @if (Model.groupUsers.Count > 5)
        {
            <div class="col-xs-1">
                <p>...</p>
            </div>
        }
    </div>
</div>