@model Model.GroupsListModel
<div class="row" style="margin-bottom:30px">
    <!-- search bar -->
    <div class="col-md-6">
        <span class="input-icon">
            <input type="text" class="form-control" id="glyphicon-search" placeholder="Buscar">
            <i class="glyphicon glyphicon-search blue"></i>
        </span>
    </div>
    <div class="col-md-offset-5 col-md-1">
        <button class="btn btn-success btn-block" data-toggle="modal" data-target="#modal_addGroup">Crear grupo</button>
    </div>
</div>
<div class="col-xs-12">
    <div class="row">
        @foreach (var group in Model.groupsList)
        {
            <div class="col-xs-4">
                <div class="widget radius-bordered">
                    <div class="widget-header bordered-left bordered-blueberry">
                        <a href="@Url.Action("Group")" style="text-align:left; float:left; color:#555555; margin-top:8px">
                            <span class="widget-caption"><strong>@group.groupName</strong></span>
                        </a>
                        <div class="widget-buttons">
                            <a href="#">
                                <i class="fa fa-times danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body bordered-left bordered-blueberry">
                        <p style="text-align:left"><strong>20 miembros...</strong></p>
                        <div class="row" style="margin-top:15px">
                            <div class="col-xs-2">
                                <img alt="image" class="img-circle  img-responsive" src="~/assets/img/avatars/Javi-Jimenez.jpg">
                            </div>
                            <div class="col-xs-2">
                                <img alt="image" class="img-circle  img-responsive" src="~/assets/img/avatars/Javi-Jimenez.jpg">
                            </div>
                            <div class="col-xs-2">
                                <img alt="image" class="img-circle  img-responsive" src="~/assets/img/avatars/Javi-Jimenez.jpg">
                            </div>
                            <div class="col-xs-2">
                                <img alt="image" class="img-circle  img-responsive" src="~/assets/img/avatars/Javi-Jimenez.jpg">
                            </div>
                            <div class="col-xs-2">
                                <img alt="image" class="img-circle  img-responsive" src="~/assets/img/avatars/Javi-Jimenez.jpg">
                            </div>
                            <div class="col-xs-1">
                                <p>...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>