@model Model.GroupModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.Title = "Grupo " + Model.groupDTO.groupName;
    ViewBag.Description = "Información del grupo";
}
<div class="row">
    <div class="col-xs-12">
        <div class="widget">
            <!--Widget Header-->
            <div class="widget-header bordered-top bordered-primary">
                <span class="widget-caption" id="groupTitle">Grupo @Model.groupDTO.groupName</span>
                <div class="widget-buttons">
                    @using (Ajax.BeginForm("_DeleteGroupRedirect", "Users", new AjaxOptions { HttpMethod = "DELETE", OnSuccess = "GroupDeletedSuccess", OnFailure = "GroupDeletedFailure" }))
                    {
                        string id_group = Model.groupDTO.id_group;
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => id_group)
                    <button class="btn btn-sky btn-sm" data-toggle="modal" data-target="#modal_editGroup" type="button">
                        <span class="visible-xs"><i class="fa fa-pencil"></i></span>
                        <span class="hidden-xs">Editar</span>
                    </button>
                    <button class="btn btn-danger btn-sm" style="margin-left:10px"  type="submit"  id="btnEliminarGroup" >
                        <span class="visible-xs"><i class="fa fa-trash"></i></span>
                        <span class="hidden-xs">Eliminar</span>
                    </button>
                    }
                </div>
            </div>
            <!--Widget Body-->
            <div class="widget-body">
                <div class="row" style="margin-top:20px">
                    <div class="col-xs-12">
                        <!-- Filter area -->
                        <div class="row" style="margin-bottom:30px">
                            <!-- search bar -->
                            <div class="col-lg-6 col-md-8 col-sm-8 col-xs-10">
                                <span class="input-icon">
                                    <input type="text" class="form-control" id="glyphicon-search" placeholder="Buscar" onkeyup="filterGroupUsers(this)">
                                    <i class="glyphicon glyphicon-search blue"></i>
                                </span>
                            </div>
                            <!-- Button to add user -->
                            <div class="col-lg-offset-4 col-lg-2 col-md-4 col-sm-4 col-xs-2">
                                <button class="btn btn-success pull-right" data-toggle="modal" data-target="#modal_addGroupUser">
                                    <span class="visible-xs"><i class="fa fa-plus"></i></span>
                                    <span class="hidden-xs">Agregar integrante</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" id="groupUsersListDiv">
                                @{Html.RenderPartial("/Views/Users/_Group/_GroupUsersList.cshtml", Model); }
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- Modal to edit group -->
@{ Html.RenderPartial("/Views/Users/_Group/_EditGroup.cshtml", new Model.EditGroup(Model.groupDTO.id_group, Model.groupDTO.groupName));}
<!-- Modal to add group user -->
@{ Html.RenderPartial("/Views/Users/_Group/_AddGroupUser.cshtml", new Model.AddGroupUser(Model.groupDTO.id_group, Model.groupDTO.groupName));}

@section PageScripts{
<script src="/assets/js/select2/select2.js"></script>
<script src="/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
<script src="~/Scripts/Users/_Group/_Group.js"></script>
<script src="~/Scripts/Users/_Group/_GroupUsersList.js"></script>
}