@{
    ViewBag.Title = "Grupos y personas";
    ViewBag.Description = "Grupos y personas";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab5">
                <li class="active">
                    <a data-toggle="tab" href="#groupsTab">
                        Grupos
                    </a>
                </li>
                <li class="tab-red">
                    <a data-toggle="tab" href="#usersTab">
                        Personas
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="groupsTab" class="tab-pane in active">
                    @*@{Html.RenderPartial("/Views/Users/_Index/_GroupsList.cshtml", new Model.GroupsListModel()); }*@
                </div>
                <div id="usersTab" class="tab-pane">
                    @{Html.RenderPartial("/Views/Users/_Index/_UsersList.cshtml", new Model.ListUserModel()); }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal to add new group-->
@{ Html.RenderPartial("/Views/Users/_Index/_AddGroup.cshtml");}
<!-- Modal register user -->
@{Html.RenderPartial("/Views/Users/_Index/_Register.cshtml", new Model.RegisterModel()); }

@section PageScripts{
<!--Jquery Select2-->
<script src="~/assets/js/select2/select2.js"></script>
<script src="~/Scripts/Users/_Index/_GroupsList.js"></script>
<script src="~/Scripts/Users/_Index/_UsersList.js"></script>
<script src="~/Scripts/Users/_Index/_AddGroup.js"></script>
<script src="~/Scripts/Users/_Index/_RegisterUser.js"></script>
<script>
    //--Jquery Select2--
    $("#e2").select2({
        placeholder: "Select a State",
        allowClear: true
    });
</script>
}