@{
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        @using (var tabs = Html.Bootstrap().Begin(new Tabs("JustifiedTab").RadiusBordered()))
        {
            tabs.Tab("Grupos", BootstrapColors.Info);
            tabs.Tab("Personas", BootstrapColors.Info);
            <!-- Groups tab-->
            using (tabs.BeginPanel())
            {
                <div class="row">
                    <div class="col-xs-12">
                        @{Html.RenderPartial("/Views/Users/_GroupsList.cshtml", new Model.GroupsListModel()); }
                    </div>
                </div>
            }
            <!-- Person tab-->
            using (tabs.BeginPanel())
            {
                <div class="row">
                    <div class="col-xs-12">
                        @{Html.RenderPartial("/Views/Users/_UsersList.cshtml", new Model.ListUserModel()); }
                    </div>
                </div>
            }
        }
    </div>
</div>
<!-- Modal to add new group-->
@{ Html.RenderPartial("/Views/Users/_AddGroup.cshtml");}
<!-- Modal register user -->
@{Html.RenderPartial("/Views/Users/_Register.cshtml", new Model.RegisterModel()); }

@section PageScripts{
<!--Jquery Select2-->
<script src="~/assets/js/select2/select2.js"></script>
<script src="~/assets/js/toastr/toastr.js"></script>
<script>
    function CompletedFormRegister(data) {
        Notify('El usuario se ha registrado con exito', 'bottom-right', '5000', 'success', 'fa-edit', true);
    }
</script>
<script>
    //--Jquery Select2--
    $("#e2").select2({
        placeholder: "Select a State",
        allowClear: true
    });
</script>
<script>
    // script to change the content on cantones select 
    $(document).ready(function () {
        $('#selectPronvices').change(function () {
            var id = $("#selectPronvices").val();
            $.ajax({
                url: '@Url.Action("getCantones", "Users")',
                type: 'get',
                data: { "pProvinceID": id },
                success: function (json, textStatus) {
                    console.log("ok")
                    $("#selectCantones").empty();
                    json = json || {};
                    for (var i = 0; i < json.length; i++) {
                        $("#selectCantones").append('<option value="' + json[i].id + '">' + json[i].name + '</option>');
                    }
                    $("#selectCantones").prop("disabled", false);
                }
            });
        });
    });
</script>
<script>
    // script to filter the list of users 
	(function ($) {
	  jQuery.expr[':'].Contains = function(a,i,m){
		  return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
	  };
	  function listFilter(list) {
	      var input = $("#searchUsers");
		$(input)
		  .change( function () {
			var filter = $(this).val();
			if (filter) {
			    $(list).find("a:not(:Contains(" + filter + "))").parent().parent().slideUp();
			    $(list).find("a:Contains(" + filter + ")").parent().parent().slideDown();
			} else {
			    $(list).find(".userBox").slideDown();
			}
			return false;
		  })
		.keyup( function () {
			    $(this).change();
		});
	  }
	  $(function () {
	      listFilter($("#userList"));
	  });
	}(jQuery));
</script> 
}