@model Model.TasksModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
}
@{ Html.RenderPartial("/Views/Tasks/_Tasks/_AddTask.cshtml", new Model.AddTaskModel(Model.stage.id_stage, Model.maxTaskPosition));}
<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12" id="taskListDivAll">
        <div class="widget radius-bordered ">
            <div class="widget-header bordered-bottom bordered-sky">
                <span class="widget-caption">Tareas @Html.Raw(Model.stage.name)</span>
            </div>
            <div class="widget-body">
                <div class="row" id="taskListDiv">
                    @{ Html.RenderPartial("/Views/Tasks/_Tasks/_TasksList.cshtml", Model);}

                </div>
            </div>
        </div>
    </div>
    <!-- Task Details -->
    <div class="col-md-8 col-sm-12 col-xs-12" id="taskDetailsAll">
        <!--Loading div-->
        <div id="loadingDiv" style="text-align: center;position:relative;margin-top:10rem">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
</div>

<!-- Modal to add task-->

@section PageScripts{
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/datetime/bootstrap-datepicker.js"></script>
<script src="~/assets/js/fuelux/wizard/wizard.js"></script>
<script src="~/assets/js/fuelux/spinbox/spinbox.js"></script>
<script src="~/assets/js/select2/select2.js"></script>
<script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
<script src="~/assets/js/file_input/bootstrap-filestyle.min.js"></script>
<script src="~/Scripts/Templates/Tasks/_AddTask.js"></script>
<script src="~/Scripts/Templates/Tasks/_TaskList.js"></script>
<script src="~/Scripts/Templates/Tasks/_TaskResponsables.js"></script>
<script src="~/Scripts/Templates/Tasks/_TaskForm.js"></script>
<script src="~/Scripts/Templates/Tasks/_TaskChanges.js"></script>
<script src="~/Scripts/Templates/Tasks/_TaskFiles.js"></script>
<script src="~/Scripts/Templates/Tasks/_TaskInfo.js"></script>
<script src="~/Scripts/Templates/Tasks/_TaskNotification.js"></script>
<script src="~/Scripts/Templates/Tasks/_AnswerTask.js"></script>
<script src="~/Scripts/Process/_AddProcess.js"></script>
@*@Scripts.Render("~/bundles/templatesTask")*@
<script src="~/assets/js/inputmask/jasny-bootstrap.min.js"></script>
}




