@model Model.GroupModel
<div class="widget-body bordered-left bordered-blueberry">
    @if (Model.groupUsers.Count == 1)
    {
        @:<p style="text-align:left"><strong>@Model.groupUsers.Count miembro...</strong></p>
    }
    else
    {
        @:<p style="text-align:left"><strong>@Model.groupUsers.Count miembros...</strong></p>
    }
    <div class="row" style="margin-top:15px">
        @for (int iUser = 0; iUser < 6 && iUser != Model.groupUsers.Count; iUser++)
        {
            var name = Model.groupUsers[iUser].name + " " + Model.groupUsers[iUser].fLastName + " " + Model.groupUsers[iUser].sLastName;
            <div class="col-xs-2" data-toggle="tooltip" data-placement="top" title="@name" >
                <img alt="image"  class="img-circle img-responsive" src="data:Image/png;base64,@Model.groupUsers[iUser].photoBase64">
            </div>
        }
        @if (Model.groupUsers.Count > 5)
        {
            <div class="col-xs-1">
                <p>...</p>
            </div>
        }
    </div>
</div>