@{
    ViewBag.Title = "Roles";
    ViewBag.Description = "Roles";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        @using (var tabs = Html.Bootstrap().Begin(new Tabs("JustifiedTab").RadiusBordered()))
        {
            tabs.Tab("Seguridad", BootstrapColors.Danger);
            tabs.Tab("Personalización", BootstrapColors.Success);

            using (tabs.BeginPanel())
            {
                <div class="row">
                    <div class="col-xs-12" id="securityPartial">
                        @{ Html.RenderPartial("/Views/Config/_Index/_Security.cshtml", new Model.RolesListModel());}
                        
                    </div>
                </div>
            }
            using (tabs.BeginPanel())
            {
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
            }
        }
    </div>
</div>

@{ Html.RenderPartial("/Views/Config/_Index/_AddRole.cshtml", new Model.AddRoleModel());}

@section PageScripts{
    <script src="~/Scripts/Config/_Index/_Security.js"></script>
}

