@model Model.RoleModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <h5 class="row-title"><i class="typcn typcn-folder themeprimary"></i>Modulos y permisos</h5>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6" id="tabs-permissions" data-id="@Model.id_role">
        <!--Modules and permissions-->
        @{ Html.RenderPartial("/Views/Config/_RoleModules.cshtml", Model);}
        <div class="horizontal-space"></div>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-sky">
                <span class="widget-caption">Elementos</span>
            </div><!--Widget Header-->
            <div class="widget-body">
                <table class="table flip-content table-hover" id="rolesTable">
                    <!-- column titles -->
                    <thead class="flip-content bordered-primary">
                        <tr>
                            <th style="width:15%">Habilitado</th>
                            <th>Elemento</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Permission slements which content depends of permission click-->
                    </tbody>
                </table>
            </div><!--Widget Body-->
        </div><!--Widget-->
    </div>
</div>
@section PageScripts{
    <script>
        $(document).ready(function () {
            //getElements();
        });

        function getPermissionElements(id_rolePermission) {
            var bodyTable = $("tbody:last");
            $.ajax({
                url: "/Config/_PermissionElements/?id_rolePermission=" + id_rolePermission,
                type: "GET",
                //data: JSON.stringify({ 'Options': someData }),
                dataType: "html",
                traditional: true,
                contentType: false,
                success: function (data) {
                    bodyTable.empty();
                    bodyTable.html(data);
                },
                error: function () {
                    //Notify("Error, no se puede borrar el rol", 'bottom-right', '5000', 'danger', 'fa-edit', true);
                }
            });
        }
        function elementChanged(role_permission_id, id_element, checkbox, name) {
            var isChecked = checkbox.checked;
            $.ajax({
                url: "/Config/_UpdateRoleElement/",
                type: "PUT",
                dataType: "html",
                data: "role_permission_id=" + role_permission_id + "&id_element=" + id_element + "&isEnabled=" + isChecked,
                success: function (data) {
                    if (isChecked) {
                        Notify("El elemento '" + name + "' se ha habilitado", 'bottom-right', '5000', 'success', 'fa-edit', true);
                        $(checkbox).closest("tr").addClass('success');
                    } else {
                        Notify("El elemento '" + name + "' se ha deshabilitado", 'bottom-right', '5000', 'success', 'fa-edit', true);
                        $(checkbox).closest("tr").removeClass('success');
                    }
                },
                error: function () {
                    Notify("Error, no se puede editar el elemento", 'bottom-right', '5000', 'danger', 'fa-edit', true);
                }
            });
        }
        function permissionChanged(id_role_permission, name, checkbox) {
            var isChecked = checkbox.checked;
            $.ajax({
                url: "/Config/_UpdateRolePermission/",
                type: "PUT",
                dataType: "html",
                data: "id_role_permission=" + id_role_permission+"&isEnabled="+ isChecked,
                success: function (data) {
                    if (isChecked) {
                        Notify("El permiso '" + name + "' se ha habilitado", 'bottom-right', '5000', 'success', 'fa-edit', true);
                        $(checkbox).closest("tr").addClass('success');
                    } else {
                        Notify("El permiso '" + name + "' se ha deshabilitado", 'bottom-right', '5000', 'success', 'fa-edit', true);
                        $(checkbox).closest("tr").removeClass('success');
                    }
                },
                error: function () {
                    Notify("Error, no se puede editar el permiso", 'bottom-right', '5000', 'danger', 'fa-edit', true);
                }
            });
        }
    </script>
}