@model Model.RoleModel
@{
    ViewBag.Title = "Rol " + Model.role.name;
    ViewBag.Description = "Rol "+ Model.role.name;
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-12" id="tabs-permissions" data-id="@Model.id_role" style="margin-bottom:15px">
        <h5 class="row-title"><i class="typcn typcn-folder themeprimary"></i>Modulos y permisos</h5>
        <!--Modules and permissions-->
        @{ Html.RenderPartial("/Views/Config/_Role/_RoleModules.cshtml", Model);}
        <div class="horizontal-space"></div>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h5 class="row-title"><i class="typcn typcn-folder themeprimary"></i>Elementos</h5>
            </div>
        </div>
        <div class="widget">
            <div class="widget-body">
                <table class="table flip-content table-hover" id="rolesTable">
                    <!-- column titles -->
                    <thead class="flip-content bordered-primary">
                        <tr>
                            <th style="width:15%">Habilitado</th>
                            <th>Elemento</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Permission elements which content depends of permission click-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section PageScripts{
    <script src="~/Scripts/Config/_Role/_Role.js"></script>
}