@model Model.UserProcessModel

<li>
    <a class="dropdown-toggle" data-toggle="dropdown" title="Gestiones" href="#">
        <i class="icon fa fa-suitcase"></i>
        <span class="badge badge-success">@Model.processesDTO.Count</span>
    </a>
    <!--Tasks Dropdown-->
    <ul class="pull-right dropdown-menu dropdown-tasks dropdown-arrow ">
        <li class="dropdown-header bordered-darkorange">
            <i class="fa fa-suitcase"></i>
            @Model.processesDTO.Count gestiones en progreso
        </li>
        @foreach (var process in Model.processesDTO)
        {
            int completedPorcentage = 0;
            if (process.totalTasks != "0")
            {
                completedPorcentage = Int32.Parse(process.completedTasks) * 100 / Int32.Parse(process.totalTasks);
            }
            <li>
                <a href="#">
                    <div class="clearfix">
                        <span class="pull-left">@Html.Raw(process.name)</span>
                        <span class="pull-right">@Html.Raw(completedPorcentage) %</span>
                    </div>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: @completedPorcentage%"></div>
                    @*<div class="progress-bar progress-bar-success" >*@
                    </div>
                </a>
            </li>
        }
        <li class="dropdown-footer">
            <a href="/">
                Ver todas las gestiones
            </a>
        </li>
    </ul>
    <!--/Tasks Dropdown-->
</li>
