@model Model.RoleModel
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs" id="myTab3">
        <li class="tab-sky active">
            <a data-toggle="tab" href="#@Model.modulesList[0].name">
                @Model.modulesList[0].name
            </a>
        </li>
        @foreach (var module in Model.modulesList.Skip(1))
        {
            <li class="tab-sky">
                <a data-toggle="tab" href="#@module.name">
                    @module.name
                </a>
            </li>
        }
    </ul>
    <div class="tab-content">
        <div id="@Model.modulesList[0].name" class="tab-pane in active">
            @{Html.RenderPartial("/Views/Config/_Role/_Permissions.cshtml", new Model.PermissionsModel(Model.id_role, Model.modulesList[0].id_module));}
        </div>
        @foreach (var module in Model.modulesList.Skip(1))
        {
            <div id="@module.name" class="tab-pane">
                @{Html.RenderPartial("/Views/Config/_Role/_Permissions.cshtml", new Model.PermissionsModel(Model.id_role, module.id_module));}
            </div>
        }
    </div>
</div>

