@model Model.CategorieModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.Title = "Categoria Vacaciones";
    ViewBag.Description = "Lista de categorías";
}

<div class="row">
    <div class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#info-tab">
                        Información General
                    </a>
                </li>

                <li class="tab-red">
                    <a data-toggle="tab" href="#generalAttributes-tab">
                        Atributos Generales
                    </a>
                </li>
                <li class="tab-red">
                    <a data-toggle="tab" href="#personalAttributes-tab">
                        Atributos Personales
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="info-tab" class="tab-pane in active">
                    <div class="row">
                        <div class="col-xs-12">
                            @{Html.RenderPartial("/Views/Categories/_CategorieInfo.cshtml", Model);}
                        </div>
                    </div>
                </div>

                <div id="generalAttributes-tab" class="tab-pane">
                    @{Html.RenderPartial("/Views/Categories/_CategorieGeneralAtr.cshtml", new Model.GeneralAttributesModel(Model.categorie.id_categorie)); }
                </div>
                <div id="personalAttributes-tab" class="tab-pane">
                    <div class="row">
                        <div class="col-xs-12">
                            @{Html.RenderPartial("/Views/Categories/_CategoriePersonalAtr.cshtml"); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal to edit categorie -->
@{ Html.RenderPartial("/Views/Categories/_EditCategorie.cshtml", new Model.EditCategorieModel(Model.categorie.id_categorie));}

<!-- Modal to see lists-->
<div class="modal fade" id="modal_Lists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nueva Lista</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form role="form">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>Atributo</th>
                                        <th>Tipo</th>
                                        <th>Valor</th>
                                        <th>Habilitado</th>
                                        <th>Accion</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="entry input-group">
                                                <input class="form-control" name="fields[]" type="text" />
                                            </div>
                                        </td>
                                        <td>
                                            <select class="form-control">
                                                <option>Texto</option>
                                                <option>Numero entero</option>
                                                <option>Numero décimal</option>
                                                <option>Fecha</option>
                                                <option>Condición</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="entry input-group">
                                                <input class="form-control" name="fields[]" type="text" />
                                            </div>
                                        </td>
                                        <td>
                                            @Html.Bootstrap().CheckBox("form-field-checkbox").IsChecked(true).HtmlAttributes(new { @class = "colored-success" })
                                        </td>
                                        <td>
                                            <button class="btn btn-success btn-sm btn-add" type="button">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Crear</button>
            </div>
        </div>
    </div>
</div>


@section PageScripts{
    <script>
        //-- Categorie Deleted
        function CategorieDeletedSuccess(content) {
            Notify("La categoría ha sido agregada con éxito", 'bottom-right', '5000', 'success', 'fa-edit', true);
            window.location.href = "/Categories";
        }
        function CategorieDeletedFailure(content) {
            Notify("Error, no se puede borrar la categoría", 'bottom-right', '5000', 'danger', 'fa-edit', true);
        }
        //-- General Attrbute Added
        function GeneralAttributeAddedSuccess(content) {
            Notify("El atributo ha sido agregado con éxito", 'bottom-right', '5000', 'success', 'fa-edit', true);
            var table = $('#table-generalAttributes > tbody');
            table.children().not(':last').remove()
            table.prepend(content);
        }
        function GeneralAttributeAddedFailure(content) {
            Notify("Error, no se puede agregar el atributo", 'bottom-right', '5000', 'danger', 'fa-edit', true);
        }
        //-- General Attrbute Edit
        function GeneralAttributeEditSuccess(content) {
            Notify("El atributo ha sido editado con éxito", 'bottom-right', '5000', 'success', 'fa-edit', true);
        }
        function GeneralAttributeEditFailure(content) {
            Notify("Error, no se puede editado el atributo", 'bottom-right', '5000', 'danger', 'fa-edit', true);
        }
        //-- Categorie Edited
        function CategorieEditedSuccess(categorieDTO) {
            Notify("La categoría ha sido editada con éxito", 'bottom-right', '5000', 'success', 'fa-edit', true);
            $("#info-tab #CategorieTitle strong").text("Categoría "+categorieDTO.name)
            $("#info-tab #CategorieDescription").text(categorieDTO.description)
            if (categorieDTO.isEnabled === "True") {
                $("#info-tab #isEnabled").text("Habilitado").removeClass("label-danger").addClass("label-success")
            } else{ 
                $("#info-tab #isEnabled").text("Deshabilitado").removeClass("label-success").addClass("label-danger")
            }
        }
        function CategorieEditedFailure(content) {
            Notify("Error, no se puede editar la categoría", 'bottom-right', '5000', 'danger', 'fa-edit', true);
        }

        // General attributes type change
        function onGeneralAttrChange(self) {
            var selectedText = $(self).find("option:selected").text();
            if (selectedText === "Lista") {
                $(self).parent().next().html('<button class="btn btn-sky " data-toggle="modal" data-target="#modal_Lists">Ver lista</button>')
            } else {
                $(self).parent().next().html('<input class="form-control" type="text" />')
            }
        }
        /*
        $(function () {
        $(document).on('click', '.btn-add', function (e) {
            e.preventDefault();
            var controlForm = $(this).parents('.table:first'),
                currentEntry = $(this).parents('tr:first'),
                newEntry = $(currentEntry.clone()).appendTo(controlForm);
            controlForm.find('tr:not(:last) .btn-add')
                .removeClass('btn-add').addClass('btn-remove')
                .removeClass('btn-success').addClass('btn-danger')
                .html('<span class="glyphicon glyphicon-minus"></span>');
        }).on('click', '.btn-remove', function (e) {
            $(this).parents('tr:first').remove();

            e.preventDefault();
            return false;
        });
    });*/
    </script>
}