@model Model.CategorieModel
@{
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.Title = "Categoria Vacaciones";
    ViewBag.Description = "Lista de categorías";
}
<div class="row">
    <div class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#info-tab">
                        Información General
                    </a>
                </li>
                <li class="tab-red">
                    <a data-toggle="tab" href="#generalAttributes-tab">
                        Atributos Generales
                    </a>
                </li>
                <li class="tab-red">
                    <a data-toggle="tab" href="#personalAttributes-tab">
                        Atributos Personales
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="info-tab" class="tab-pane in active">
                    <div class="row">
                        <div class="col-xs-12">
                            @{Html.RenderPartial("/Views/Categories/_Categorie/_CategorieInfo.cshtml", Model);}
                        </div>
                    </div>
                </div>
                
                <div id="generalAttributes-tab" class="tab-pane">
                    @{Html.RenderPartial("/Views/Categories/_Categorie/_GeneralAttributes/_CategorieGeneralAtr.cshtml", new Model.GeneralAttributesModel(Model.categorie.id_categorie)); }
                </div>
                <div id="personalAttributes-tab" class="tab-pane">
                    <div class="row">
                        <div class="col-xs-12">
                            @{Html.RenderPartial("/Views/Categories/_Categorie/_PersonalAttributes/_CategoriePersonalAtr.cshtml", new Model.PersonalAttributesModel(Model.categorie.id_categorie)); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal to edit categorie -->
@{ Html.RenderPartial("/Views/Categories/_Categorie/_EditCategorie.cshtml", new Model.EditCategorieModel(Model.categorie.id_categorie));}

@section PageScripts{
<script src="/assets/js/nestable/jquery.nestable.min.js"></script>
<script src="~/Scripts/Categories/_Categorie/_Categorie.js"></script>
<script src="~/Scripts/Categories/_Categorie/_GeneralAttributes.js"></script>
<script src="~/Scripts/Categories/_Categorie/_PersonalAttributes.js"></script>
}