@{
    Layout = "~/Views/Shared/_Default.cshtml";
    ViewBag.Title = "Categories";
    ViewBag.Description = "Lista de categorías";
}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header">
                <span class="widget-caption">Lista de categorías</span>
                <div class="widget-buttons" style="margin-right:20px">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal_addCategorie">Nueva categoría</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12" id="CategoriesList">
                        <!-- Filter area -->
                        <!--
                        <div class="row" style="margin-bottom:40px">
                            <div class="col-md-6">
                                <!-- search bar 
                                <span class="input-icon">
                                    <input type="text" class="form-control" id="glyphicon-search" placeholder="Buscar">
                                    <i class="glyphicon glyphicon-search blue"></i>
                                </span>
                            </div>
                        </div>
                        -->
                        <!-- Table -->
                        @{ Html.RenderPartial("/Views/Categories/_CategoriesList.cshtml");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal to add new categorie-->
@{ Html.RenderPartial("/Views/Categories/_AddCategorie.cshtml", new Model.AddCategorieModel());}

@section PageScripts{
    <!-- scripts for dataTable -->
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script>
        InitiateCategorieDataTable.init();
        function CategorieAddedSuccess(content) {
            Notify("La categoría ha sido creada con éxito", 'bottom-right', '5000', 'success', 'fa-edit', true);
            $("#CategoriesList").html(content)
            InitiateCategorieDataTable.init();
        }
        function CategorieAddedFailure(content) {
            Notify("Error, no se puede crear la categoría", 'bottom-right', '5000', 'danger', 'fa-edit', true);
        }

    </script>
}